{{/*
vim: ft=gohtmltmpl
*/}}
{{ define "main" }}
	<link type="text/css" rel="stylesheet" href="{{"css/custom_design2.css" | absURL}}">
	<div id="over">
		<div id="over-window" class="container m-auto bg-white">
			<div id="over-d" class="row">
				<div id="over-slideshow" class="col">
					<img id="over-img"></img>
					<div id="over-slideshowcontrol">
						<button onclick="addIndex(-1)"> &larr; </button>
						<span id="over-currentindex"></span> / <span id="over-total"></span>
						<button onclick="addIndex(1)"> &rarr; </button>
					</div>
				</div>
				<div id="over-desc" class="col">
					<h1 id="over-title"> </h1>
					<p id="over-explain"> </p>
				</div>
			</div>
			<button id="over-ex"> &times; </button>
		</div>
	</div>
	<div class="container float-right">
		<a href="{{"/portfolio" | absURL}}"> &larr; portfolio </a>
		<p class="label"> Design Portfolio </p>
		<div class="portfolio">
			{{ range .Params.portfolio }}
				<button
					class="portfolio-btn"
					data-title="{{.Name}}"
					data-url="{{if .Images}}{{range .Images}}{{. | absURL | safeURL}};{{end}}{{else}}{{.Image | absURL}}{{end}}"
					data-orient="{{.Orient}}"
					data-desc="{{safeHTML .Desc}}"
					{{if .Images}}data-slideshow="t"{{end}}>
						<div class="float-left portfolio-icon-wrapper" style="background-image: url({{ .Image | absURL }})">
							<p class="label portfolio-desc">{{.Name}}</p>
						</div>
				</button>
			{{ end }}
		</div>
	</div>
	<script>

		var body = document.getElementsByTagName("body")[0];
var over = document.getElementById("over");
var overd = document.getElementById("over-d");
var overcurrentindex = document.getElementById("over-currentindex");
var overtotal = document.getElementById("over-total");
var overtitle = document.getElementById("over-title");
var overslideshow = document.getElementById("over-slideshow");
var overslideshowcontrol = document.getElementById("over-slideshowcontrol");
var overimg = document.getElementById("over-img");
var overexplain = document.getElementById("over-explain");
var btn = document.getElementsByClassName("portfolio-btn")
var overex = document.getElementById("over-ex");
var currentURLs = [];
var currentIndex = 0;

for (var i=0; i<btn.length; i++) {
	console.log(btn[i]);
	btn[i].addEventListener("click", function(e) {
		if (this.dataset.orient == "v") {
			overd.setAttribute("v", "");
		} else {
			overd.removeAttribute("v");
		};

		currentIndex = 0;
		currentURLs = this.dataset.url.split(";");
		currentURLs = currentURLs.filter(function (e) {
			return e.length;
		});

		if (this.dataset.slideshow == "t") {
			overslideshowcontrol.style = "display: static";
		} else {
			overslideshowcontrol.style = "display: none";
		}

		overtitle.innerText = this.dataset.title;
		overexplain.innerText = this.dataset.desc;
		body.setAttribute("lel", "");
		over.setAttribute("show", "");
		overimg.setAttribute("src", currentURLs[0]);
		setImageWithIndex(currentIndex);
	}.bind(btn[i]));
};

function setImageWithIndex(i) {
	overcurrentindex.innerText = currentIndex+1;
	overtotal.innerText = currentURLs.length;
	overimg.setAttribute("src", currentURLs[i]);
}

function addIndex(diff) {
	currentIndex = (currentIndex + diff + currentURLs.length) % currentURLs.length;
	setImageWithIndex(currentIndex);
}

overex.addEventListener("click", function() {
	body.removeAttribute("lel");
	over.removeAttribute("show");
	overimg.removeAttribute("src");
})
	</script>
{{ end }}
