:root {
  --dim: 260px;
}

@media only screen and (max-width: 600px) {
  :root {
    --dim: calc(100%);
  }
}

p.label {
  color: #999;
  font-family: 'Montserrat', 'sans-serif';
  font-size: 0.7rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}

.portfolio-icon-wrapper {
  background-size: cover;
  background-position: center;
  margin: 0 20px 20px 0;
  padding-top: var(--dim);
  position: relative;
  width: var(--dim);
}

.portfolio-icon-wrapper::before {
  position:absolute;
  top:0;
  left:0;
  z-index: 100;
  content:"";
  width: var(--dim);
  height: var(--dim);
  background-color: black;
  opacity:0;
  transition: 0.2s opacity ease;
}

.portfolio-icon-wrapper:hover::before {
  opacity:0.4;
}

.portfolio-desc.label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  z-index: 101;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  margin: 0;
  opacity: 0;
  transition: 0.4s all ease;
}

.portfolio-icon-wrapper:hover .portfolio-desc.label {
  opacity: 1;
}

@media only screen and (min-width: 1200px) {
  .content-wrapper {
    width: 1120px;
  }
  .container{
    width: 900px;
  }
}
