p.label {
	color: #999;
	font-size: 0.7em;
	letter-spacing: 0.15rem;
	margin-top: 3em;
	font-family: 'sans-serif';
	text-transform: uppercase;
}

a.card-wrapper {
	text-decoration: none;
	color: inherit;
}

.card {
	width: 100%;
	box-sizing: border-box;
	background-color: #fbfbfb;
	border: 1px solid #ccc;
	padding: 1.5em;
	margin-bottom: 1em;
}

.card:hover {
	box-shadow: 0 2px 4px #00000021;
}

.card-title {
	margin: 0;
}

.card-desc {
	margin-bottom: 0;
}

.hide {
	max-height: 0;
	overflow: hidden;
	transition: 0.4s max-height ease;
}

.hide-container a {
	color: #ccc;
}

.hide-container:focus-within .hide {
	max-height: 1000px;
}
