{{/*
vim: ft=gohtmltmpl
*/}}
{{ define "project" }}
	<li class="project" id="{{ .Name }}">
		{{- $link := "" -}}
		{{- if .Link -}}
			{{ $link = .Link }}
		{{- else -}}
			{{ $link = .Repo }}
		{{- end -}}
		<div class="project-meta">
			<div class="project-desc">
				<a href="{{ $link }}">{{.Name}}<span class="project-rating{{if ge .Rating 3}} project-rating-high{{end}}">{{.Rating}}</span></a> - {{.Desc}}
			</div>
			<div class="project-actions">
				{{- if .Repo -}}
					<a href="{{ .Repo }}"><i class="lab la-github"></i></a>
				{{- end}}
				{{if .Link -}}
					<a class="preview-link hide-mobile" href="?{{.Link}}">
						<i class="las la-arrow-right"></i>
					</a>
				{{- end -}}
			</div>
		</div>
		{{if .Image}}
			<div class="project-tooltip-wrapper">
				<div class="project-tooltip">
					{{- $previewUrl := print "projects/" .Image -}}
					{{- $preview := resources.Get $previewUrl -}}
					{{if $preview}}
						<img src="{{$preview.Permalink}}" />
					{{end}}
				</div>
			</div>
		{{end}}
	</li>
{{ end }}

{{ define "main" }}
	{{.Content}}
	<h2> Ongoing </h2>
	<ul class="project-list">
	{{ range $i, $v := sort .Params.projects.ongoing "Name"}}
		{{ template "project" . }}
	{{ end }}
	</ul>
	<h2> Archived </h2>
	<ul class="project-list">
		{{ $last_year := 0 }}
		{{ $map := newScratch }}
		{{ range $i, $v := .Params.projects.finished }}
			{{ $map.Set (string (add (mul $v.Year 10000) (add (mul $v.Month 100) $i))) $i }}
		{{ end }}
		{{ $sorted := sort $map.Values }}
		{{ range seq (add (len $sorted) -1) -1 0 }}
			{{ $v := index $.Params.projects.finished (index $sorted .) }}
			{{ if not (eq $last_year $v.Year) }}
				{{ $last_year = $v.Year }}
				<div class="project-year">{{ $v.Year }}</div>
			{{ end }}
			{{ template "project" $v }}
		{{ end}}
	</ul>
	<p style="font-size: 0.75em"><i>1: Few hours to a few days. 2: Few days to a few weeks. 3: few weeks to a month. 4: few months</i></p>

<style>
.project-list {
	list-style: none;
	padding-left: 0;
}

.project-year {
	position: absolute;
	font-size: 0.75em;
	font-weight: bold;
	margin-top: 0.25em;
}

.project {
	margin-bottom: 0.4em;
	padding-left: 2.5em;
}

.project-meta {
	display: flex;
}

.project-desc {
	margin: -5px;
	padding: 5px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.project-rating {
	font-size: 0.65rem;
	padding: 0 4px;
	border-radius: 5px;
	margin-left: 4px;
	margin-bottom: -4px;
	line-height: 1;
	color: white;
	vertical-align: top;
	background-color: var(--primary-color);
}

.project-rating-high {
	background-color: var(--secondary-color);
}

.project-actions {
	display: none;
	flex-shrink: 0;
	margin-left: auto;
	padding-left: 0.5rem;
}

.project:hover .project-actions {
	display: block;
}

.project-tooltip-wrapper {
	position: relative;
	width: 100%;
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.1s ease;
}

.project:hover .project-tooltip-wrapper {
	opacity: 1;
}

.project-tooltip {
	z-index: 1000;
	position: absolute;
	top: 0.8em;
	border-radius: 5px;
	padding: 1em;
	background: white;
	box-shadow: 0 1px 3px #00000021;
	border: 1px solid #ccc;
}

.project-tooltip img {
	display: block;
	width: 100%;
	height: auto;
}

.preview-container {
	display: none;
	position: relative;
	width: 100%;
	max-width: 60rem;
	align-self: stretch;
	padding: 2rem;
}

.preview-wrapper {
	position: sticky;
	overflow: hidden;
	top: 1rem;
	width: 100%;
	max-height: calc(100vh - 2rem);
	height: 60rem;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.preview-bar {
	display: flex;
	border-bottom: 1px solid #ccc;
	font-size: 0.75rem;
	background-color: white;
}

#preview-link {
	flex: 1;
	padding: 0.25rem 0.5rem;
	border-right: 1px solid #ccc;
}

#preview-to {
	padding: 0.25rem 0.5rem;
	border: 0;
	background-color: transparent;
}

#preview-to:hover {
	background-color: #f9f9f9;
}

#preview {
	overflow: auto;
	width: 100%;
	height: 100%;
	border: 0;
}

</style>
{{ end }}

{{ define "rest" }}
	<div id="preview-container" class="preview-container hide-mobile">
		<div class="preview-wrapper">
			<div class="preview-bar">
				<div id="preview-link">PREVIEW</div>
				<a class="not-link" id="preview-to" href="">
					<i class="las la-arrow-right"></i>
				</a>
			</div>
			<iframe id="preview" src=""></iframe>
		</div>
	</div>
	<script>
		const elements = document.querySelectorAll(".preview-link")
		const preview = document.querySelector("#preview")
		const previewContainer = document.querySelector("#preview-container")
		const previewLink = document.querySelector("#preview-link")
		const previewTo = document.querySelector("#preview-to")

		for (const el of elements) {
			el.addEventListener("click", function (e) {
				e.preventDefault()
				history.pushState(undefined, undefined, el.href)
				handlePreview()
			})
		}

		function handlePreview() {
			const url = decodeURIComponent(location.search.substr(1))
			previewLink.innerText = url
			previewTo.href = url
			previewContainer.style = url ? "display: block" : "display: none"
			preview.src = url
		}



		handlePreview()
	</script>
{{ end }}
