{{ define "main" }}
<div class="container float-right">
  <p class="label"> Programming Portfolio </p>
</div>
<div class="container float-right">
  <p class="label"> Design Portfolio </p>
  <div class="portfolio">
    <div class="float-left portfolio-icon-wrapper" style="background-image: url({{ "img/elem.png" | absURL }})">
      <p class="label portfolio-desc"> cool</p>
    </div>
    <div class="float-left portfolio-icon-wrapper" style="background-image: url({{ "img/elem.png" | absURL }})">
      <p class="label portfolio-desc"> cool</p>
    </div>
  </div>
</div>
{{ end }}
